.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 25%;
}
.display{
    width: 400px;
    height: 100px;
    background-color: beige;
    text-align: center;
    font-size: 30px;
    align-items: center;
}
.type-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
input{
    width: 100px;
    height: 100px;
    font-size: 30px;
}

#clear{
    width: 400px;
}