 :root{
    body{
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;

        canvas{
            // border: 2px solid red;
        }
    }
 } 
